<div class="container">
    <div class="row">
        <div class="col-md-4 align-self-center">
            <div>
                <h6>Eventos GE</h6>
                <p>Diseñado por <a href="https://lucas.vidmar.xyz/" target="_blank"><b>Lucas Vidmar</b></a> | 2021</p>
            </div>
        </div>
        <div class="col-md-8 align-self-center">

            <!-- Button Group -->
            <a href="https://www.linkedin.com/in/lucasvidmar/" target="blank"><button mdbBtn type="button" color="light" class="waves-light" mdbWavesEffect><mdb-icon fab icon="linkedin-in"></mdb-icon></button></a>
            <a href="mailto:lucas@vidmar.xyz" target="blank"><button mdbBtn type="button" color="light" class="waves-light" mdbWavesEffect><mdb-icon fas icon="at"></mdb-icon></button></a>
            <a href="https://lucas.vidmar.xyz/" target="blank"><button mdbBtn type="button" color="light" class="waves-light" mdbWavesEffect><mdb-icon fas icon="home"></mdb-icon></button></a>

        </div>
    </div>
</div>