<body>
    <br>
    <br>
    <h1>Esta página estará disponible proximamente!</h1>
    <br>
    <hr>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Mientras tanto, podés chequear nuestras redes sociales</h3>
                <br>
                <div class="btns">
                    <div class="btn-group" role="group">
                        <a href="mailto:contacto@eventosge.com" target="blank"><button mdbBtn type="button" class="waves-light" mdbWavesEffect><mdb-icon fas icon="envelope-square" size="2x"></mdb-icon></button></a>
                        <a href="https://www.instagram.com/eventos.ge/" target="blank"><button mdbBtn type="button" class="waves-light" mdbWavesEffect><mdb-icon fab icon="instagram" size="2x"></mdb-icon></button></a>
                        <a href="https://wa.me/message/AV3HLCJC5I6PG1" target="blank"><button mdbBtn type="button" class="waves-light" mdbWavesEffect><mdb-icon fab icon="whatsapp-square" size="2x"></mdb-icon></button></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h3>O volvé a la página principal</h3>
                <br>
                <div class="btns">
                    <a [routerLink]="['/home']"><mdb-icon fas icon="arrow-circle-left" size="4x"></mdb-icon></a>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</body>