.container{
    padding-top: 5vmin;
    padding-bottom: 5vmin;
}

img {
    height: 20vmax;
    max-height: 250pt;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding: 5pt;
    background-color: var(--black);
}

h1{
    padding-top: 4vmin;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

a{
    color: var(--black);
}

.col-sm-8{
    padding-left: 5vmin;
    padding-right: 5vmin;
}

.mediaButton{
    height: 40pt;
    width: 40pt;
    line-height: 50pt;
    background: var(--darker-pink);
    background: linear-gradient(90deg, var(--darker-pink) 0%, var(--orange-pink) 100%);
    border-radius: 17pt;
    display: inline-block;
    margin: 5pt;
    text-align: center;
    transition: ease-in-out all 0.5s;
}

.mediaButton:hover{
    opacity: 0.5;
}

#link{
    color: royalblue;
}

mdb-icon{
    color: whitesmoke;
}